certifi==2023.5.7
charset-normalizer==3.1.0
cmake==3.26.3
ffmpeg-python==0.2.0
filelock==3.12.0
future==0.18.3
idna==3.4
lit==16.0.3
llvmlite==0.40.0
more-itertools==9.1.0
numba==0.57.0
numpy==1.24.3
openai-whisper==20230314
Pillow==9.5.0
regex==2023.5.5
requests==2.30.0
tiktoken==0.3.1
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.65.0
triton==2.0.0
typing_extensions==4.5.0
urllib3==2.0.2
websockets==11.0.3
